<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'MOVIES' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let movie of movies" (click)="openMovie(movie)">
      <ion-thumbnail slot="start">
        <ion-img [src]="movie.smallImage"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ movie.title }}</h2>
        <h3>{{ movie.date | date }}</h3>
        <app-genres [genres]="movie.genres" [max]="2"></app-genres>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
